NET	"Seven_Segment_Int[0]"		LOC = p100;		# a segment
NET	"Seven_Segment_Int[1]"		LOC = p99;		# b segment
NET	"Seven_Segment_Int[2]"		LOC = p98;		# c segment
NET	"Seven_Segment_Int[3]"		LOC = p97;		# d segment
NET	"Seven_Segment_Int[4]"		LOC = p95;		# e segment
NET	"Seven_Segment_Int[5]"		LOC = p94;		# f segment
NET	"Seven_Segment_Int[6]"		LOC = p93;		# g segment
NET	"Seven_Segment_Int[7]"		LOC = p92;		# p segment

NET	"BCD_Digit[0]"			LOC = p74;
NET	"BCD_Digit[1]"			LOC = p79;
NET	"BCD_Digit[2]"			LOC = p81;
NET	"BCD_Digit[3]"			LOC = p84;